__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.venv/
venv/
.env
.env.*
.pytest_cache/
.mypy_cache/
.ruff_cache/

# OS/editor
.DS_Store
.idea/
.vscode/

# Docker local
docker-compose.override.yml
.ipynb_checkpoints/
